# from maven, not needed
target/

# no need pdf and html files
*.pdf
*.html

# not want to push
.vscode/

# ignore logs folder and log files and real log4j2 config
logs/
*.log
src/main/resources/log4j2.xml